{% extends 'base.html' %}

{% block content %}
<div class="bg-base-200">
<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px]">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="mb-5">
        <label
          for="name"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Kode Makanan
        </label>
        <input
          type="text"
          name="food_code"
          id="food_code"
          placeholder="M0001"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="name"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Nama Makanan
        </label>
        <input
          type="text"
          name="food_name"
          id="food_name"
          placeholder="Bubur sumsum"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="food_unit"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Satuan Makanan
        </label>
        <input
          type="food_unit"
          name="food_unit"
          id="food_unit"
          placeholder="cup"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="food_unit"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Jumlah Makanan
        </label>
        <input
          type="food_amount"
          name="food_amount"
          id="food_amount"
          placeholder="20"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="food_unit"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Harga Makanan
        </label>
        <input
          type="food_price"
          name="food_price"
          id="food_price"
          placeholder="12000"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div>
        <button type="submit"
          class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
        >
          Simpan
        </button>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}