{% extends 'base.html' %}

{% block content %}
<div class="bg-base-200">
  <!-- component -->
  <section class="container px-4 mx-auto">
    <div class="flex flex-col">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <a href="{% url 'food_materials.create_food' %}" class="btn btn-primary">Tambah</a>
          <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
              <thead class="bg-gray-50 dark:bg-gray-800">
                <tr>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    No
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    Kode Makanan
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    Nama Makanan
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    Satuan
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    Jumlah
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    Harga
                  </th>

                  <th scope="col"
                    class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    Status
                  </th>

                  <!-- <th scope="col" class="relative py-3.5 px-4">
                    <span class="sr-only">Actions</span>
                  </th> -->
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                {% for item in data %}
                <tr>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                    <div class="inline-flex items-center gap-x-3">
                      <span>{{ forloop.counter }}</span>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                    <div class="inline-flex items-center gap-x-3">
                      <span>{{ item.code }}</span>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                    <div class="inline-flex items-center gap-x-3">
                      <span>{{ item.name }}</span>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                    <div class="inline-flex items-center gap-x-3">
                      <span>{{ item.unit }}</span>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                    <div class="inline-flex items-center gap-x-3">
                      <span>{{ item.amount }}</span>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                    <div class="inline-flex items-center gap-x-3">
                      <span>{{ item.price }}</span>
                    </div>
                  </td>
                  <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                    <div class="inline-flex items-center gap-x-3">
                      <span>{{ item.status }}</span>
                    </div>
                  </td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}