{% extends 'base.html' %}

{% block content %}
<div class="bg-base-200">
<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px]">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="mb-5">
        <label
          for="name"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Kode Barang
        </label>
        <input
          type="text"
          name="material_code"
          id="material_code"
          placeholder="Tepung beras"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="name"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Nama Barang
        </label>
        <input
          type="text"
          name="material_name"
          id="material_name"
          placeholder="Tepung beras"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="material_unit"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Satuan Barang
        </label>
        <input
          type="material_unit"
          name="material_unit"
          id="material_unit"
          placeholder="gram"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="material_unit"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Jumlah Barang
        </label>
        <input
          type="material_amount"
          name="material_amount"
          id="material_amount"
          placeholder="100"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="material_unit"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Harga Barang
        </label>
        <input
          type="material_price"
          name="material_price"
          id="material_price"
          placeholder="28000"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="message"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Message
        </label>
        <textarea
          rows="4"
          name="message"
          id="message"
          placeholder="Type your message"
          class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        ></textarea>
      </div>
      <div>
        <button type="submit"
          class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
        >
          Simpan
        </button>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}