{% extends 'base.html' %}

{% block content %}
<div class="bg-base-200 mx-5">
  <div class="grid grid-cols-3 gap-x-5">
    <div class="col-span-2">
      <p>{{food.code}}</p>
      <p>{{food.name}}</p>
      <p>{{food.date}}</p>

      <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead class="bg-gray-50 dark:bg-gray-800">
            <tr>
              <th scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                No.
              </th>

              <th scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Kode Barang
              </th>

              <th scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Nama Barang
              </th>

              <th scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Harga Modal
              </th>

              <th scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                Harga Jual
              </th>
              
              <th scope="col"
                class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
            {% for item in ingredients %}
            <form action="" method="POST">
              {% csrf_token %}
            <tr>
              <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                <div class="inline-flex items-center gap-x-3">
                  <span>{{ forloop.counter }}</span>
                </div>
              </td>
              <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                <div class="inline-flex items-center gap-x-3">
                  <span>{{ item.good.code }}</span>
                </div>
              </td>
              <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                <div class="inline-flex items-center gap-x-3">
                  <span>{{ item.good.name }}</span>
                </div>
              </td>
              <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                <div class="inline-flex items-center gap-x-3">
                  <input type="number" name="price" id="price" value="{{item.price}}" class="w-full"/>
                </div>
              </td>
              <td class="px-4 py-4 text-sm font-medium text-gray-700 dark:text-gray-200 whitespace-nowrap">
                <div class="inline-flex items-center gap-x-3">
                  <input type="number" name="price_sale" id="price_sale" value="{{item.price_sale}}" class="w-full"/>
                </div>
              </td>
            </form>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full">
      <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="food_id" value="{{food.id}}" hidden>
        <div class="mb-5">
          <select name="food" id="food" onchange="chooseFood(this)" class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" required>
            <option value="" disabled selected>Pilih makanan</option>
            {% for food in foods %}
            <option data-food-unit="{{food.unit}}" data-food-stock="{{food.stock}}" value="{{food.id}}">{{ food.code }} - {{food.name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-5">
          <label for="ingredient_unit" class="mb-3 block text-base font-medium text-[#07074D]">
            Satuan
          </label>
          <input type="text" name="ingredient_unit" id="ingredient_unit"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" readonly />
        </div>

        <div class="mb-5">
          <label for="ingredient_stock" class="mb-3 block text-base font-medium text-[#07074D]">
            Sisa stok
          </label>
          <input type="text" name="ingredient_stock" id="ingredient_stock"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" readonly />
        </div>

        <div class="mb-5">
          <label for="ingredient_amount" class="mb-3 block text-base font-medium text-[#07074D]">
            Jumlah yang dibutuhkan
          </label>
          <input type="number" name="ingredient_amount" id="ingredient_amount"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" required/>
        </div>

        <div>
          <button type="submit"
            class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none">
            Tambah
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  const params = new URLSearchParams(location.search)
  let foodValue = ''
  let foodPrice = ''
  let foodUnit = ''
  const foodStockElement = document.getElementById('ingredient_stock')
  const foodUnitElement = document.getElementById('ingredient_unit')

  const chooseFood = (e) => {
    params.set('food_id', e.value)

    location.search = params
    if (e.value != '') {
      const selectedOption = e.options[e.selectedIndex]

      foodStockElement.value = selectedOption.getAttribute('data-food-stock')
      foodUnitElement.value = selectedOption.getAttribute('data-food-unit')
    } else {
      foodStockElement.value = ''
      foodUnitElement.value = ''
    }
  }
</script>
{% endblock %}